<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='/stylesheets/landing.css'>
    <link rel='stylesheet' href='/stylesheets/global.css'>
    <!-- <link rel='stylesheet' href='/stylesheets/wireframe.css'> -->
    <title><%= title %></title>
</head>
<body class='modularframed'>
    <header id='' class='headerframed'>
        <section class='inner-headerframed'>
            <!-- <h1 class='heading-title'>Landing in when we fall down.</h1>

            <div class='social-icon flex-col text-center m-50'>
                <a class='icon' href='https://twitter.com/guzmanboard'>Twitter</a>
                <a class='icon px-10' href='https://www.facebook.com/guzmanboard'>Facebook</a>
                <a class='icon' href='https://www.instagram.com/guzmanboard'>Instagram</a>
            </div> -->
        </section>
    </header>