<%- include('partials/header') %>

    <!-- Main Section -->
    <main id='' class='mainframed'>
        <section class='inner-mainframed'>
            <h1 class='heading-title'>Landing in when we fall down.</h1>

            <div class='social-icon m-50'>
                <a class='icon pr-10' href='https://twitter.com/eedgarguzman'>Twitter</a>
                <!-- <a class='icon px-10' href='https://www.facebook.com/edgarguzmann'>Facebook</a> -->
                <a class='icon' href='https://www.instagram.com/edgarguzmann'>Instagram</a>
            </div>
        </section>
    </main>

<%- include('partials/footer') %>